/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);


// Override theme settings (see ../template/settings.scss)
$mainFont: 'PT Pro', sans-serif;
$mainColor: #000;
$headingFont: 'PT Pro', sans-serif;
$headingColor: #681437;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: #681437;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);
$heading1Size: 2.5em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$heading4Size: 1.00em;


section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #681437;
	}
}

div.pdf-page:after,
div.progress:before {
  position: absolute;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9px;
}

div.progress:before {
  right: 230px;
  bottom: 35px;
  width: 333px;
  height: 65px;
  content: url("../../lib/vitagroup/logo_250.svg");
}

div.pdf-page:after {
  right: 3px;
  bottom: 3px;
  width: 192px;
  height: 40px;
  padding: 3px;
  content: url("../../lib/vitagroup/logo.svg");
}



.reveal section img {
  border: none;
}

section.cover h1,
section.cover h2,
section.cover h3,
section.cover h4,
section.cover h5,
section.cover h6,
section.cover img {
  background-color: rgba(255,255,255,0.7);
  border-radius: 9px;
}

.reveal section.img_container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
}
.reveal section img {
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
}

section.cover img {
  padding: 5px 15px;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


.reveal section img {
  border: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.7);
}
